AIRFLOW_UID={{ airflow_uid }}
AIRFLOW_IMAGE={{ airflow_image }}
AIRFLOW__CORE__EXECUTOR={{ airflow_executor }}
AIRFLOW__CORE__FERNET_KEY={{ airflow_fernet_key_resolved }}
AIRFLOW__WEBSERVER__SECRET_KEY={{ airflow_secret_key_resolved }}
AIRFLOW__CORE__LOAD_EXAMPLES=false
AIRFLOW__API__AUTH_BACKENDS=airflow.api.auth.backend.basic_auth,airflow.api.auth.backend.session
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:{{ airflow_postgres_password_resolved }}@airflow-postgres:5432/airflow
AIRFLOW__CELERY__RESULT_BACKEND=db+postgresql://airflow:{{ airflow_postgres_password_resolved }}@airflow-postgres:5432/airflow
POSTGRES_USER=airflow
POSTGRES_PASSWORD={{ airflow_postgres_password_resolved }}
POSTGRES_DB=airflow
_AIRFLOW_WWW_USER_USERNAME={{ airflow_admin_user }}
_AIRFLOW_WWW_USER_PASSWORD={{ airflow_admin_password_resolved }}
_AIRFLOW_WWW_USER_EMAIL={{ airflow_admin_email }}
_AIRFLOW_WWW_USER_FIRSTNAME={{ airflow_admin_firstname }}
_AIRFLOW_WWW_USER_LASTNAME={{ airflow_admin_lastname }}
_PIP_ADDITIONAL_REQUIREMENTS={{ airflow_pip_requirements }}
MLSYSTEM_AIRFLOW_STATE_DIR=/opt/airflow/mlsystem_runs
MLFLOW_TRACKING_URI=http://host.docker.internal:5000
MLFLOW_S3_ENDPOINT_URL=http://host.docker.internal:9000
