MINIO_ROOT_USER={{ mlsystem_gpu_minio_root_user_resolved }}
MINIO_ROOT_PASSWORD={{ mlsystem_gpu_minio_root_password_resolved }}
MINIO_BROWSER_REDIRECT_URL={{ mlsystem_gpu_frontend_public_url }}/minio/
MINIO_IMAGES_CONSOLE_USER={{ mlsystem_gpu_minio_images_console_user_resolved }}
MINIO_IMAGES_CONSOLE_PASSWORD={{ mlsystem_gpu_minio_images_console_password_resolved }}
MINIO_IMAGES_CONSOLE_POLICY={{ mlsystem_gpu_minio_images_console_policy }}
MLFLOW_DB_PASSWORD={{ mlsystem_gpu_mlflow_db_password_resolved }}
MLFLOW_IMAGE={{ mlsystem_gpu_mlflow_image }}
MINIO_IMAGE={{ mlsystem_gpu_minio_image }}
POSTGRES_IMAGE={{ mlsystem_gpu_postgres_image }}
TRITON_IMAGE={{ mlsystem_gpu_triton_image }}
RABBITMQ_IMAGE={{ mlsystem_gpu_rabbitmq_image }}
RABBITMQ_DEFAULT_USER={{ mlsystem_gpu_rabbitmq_user_resolved }}
RABBITMQ_DEFAULT_PASS={{ mlsystem_gpu_rabbitmq_password_resolved }}
RABBITMQ_PORT={{ mlsystem_gpu_rabbitmq_port }}
RABBITMQ_MANAGEMENT_PORT={{ mlsystem_gpu_rabbitmq_management_port }}
RABBITMQ_MANAGEMENT_LISTEN_HOST={{ mlsystem_gpu_rabbitmq_management_listen_host }}
RABBITMQ_PROMETHEUS_PORT={{ mlsystem_gpu_rabbitmq_prometheus_port }}
RABBITMQ_PROMETHEUS_LISTEN_HOST={{ mlsystem_gpu_rabbitmq_prometheus_listen_host }}
RABBITMQ_MANAGEMENT_PUBLIC_URL=/rabbitmq/
RABBITMQ_MANAGEMENT_PROXY_AUTH={{ (mlsystem_gpu_rabbitmq_user_resolved ~ ':' ~ mlsystem_gpu_rabbitmq_password_resolved) | b64encode }}
INFERENCE_ENGINE_IMAGE={{ mlsystem_gpu_inference_engine_image }}
INFERENCE_ENGINE_API_PORT={{ mlsystem_gpu_inference_engine_api_port }}
INFERENCE_ENGINE_API_URL=http://inference-engine-api:8095
INFERENCE_ENGINE_RABBITMQ_URL=amqp://{{ mlsystem_gpu_rabbitmq_user_resolved }}:{{ mlsystem_gpu_rabbitmq_password_resolved }}@rabbitmq:5672/
INFERENCE_ENGINE_RABBITMQ_MANAGEMENT_URL=http://rabbitmq:15672/rabbitmq
INFERENCE_ENGINE_JOB_ROOT=/data/mlsystem/inference-engine/jobs
INFERENCE_ENGINE_SPOOL_ROOT=/data/mlsystem/inference-engine/spool
INFERENCE_ENGINE_ARTIFACT_ROOT=/data/mlsystem/inference-engine/artifacts
INFERENCE_ENGINE_LOGS_ROOT=/data/mlsystem/inference-engine/logs
INFERENCE_ENGINE_TRITON_URL=http://triton:8000
INFERENCE_ENGINE_API_TOKEN={{ mlsystem_gpu_inference_engine_api_token_resolved }}
INFERENCE_ENGINE_USE_RABBITMQ={{ mlsystem_gpu_inference_engine_use_rabbitmq }}
INFERENCE_ENGINE_DEFAULT_TRITON_BATCH_SIZE={{ mlsystem_gpu_inference_engine_default_triton_batch_size }}
INFERENCE_ENGINE_MAX_WAIT_MS={{ mlsystem_gpu_inference_engine_max_wait_ms }}
INFERENCE_ENGINE_PREPROCESS_CONCURRENCY={{ mlsystem_gpu_inference_engine_preprocess_concurrency }}
INFERENCE_ENGINE_TRITON_CONCURRENCY={{ mlsystem_gpu_inference_engine_triton_concurrency }}
INFERENCE_ENGINE_AGGREGATOR_CONCURRENCY={{ mlsystem_gpu_inference_engine_aggregator_concurrency }}
INFERENCE_ENGINE_BLOCK_CONCURRENCY={{ mlsystem_gpu_inference_engine_block_concurrency }}
INFERENCE_ENGINE_MERGER_CONCURRENCY={{ mlsystem_gpu_inference_engine_merger_concurrency | default(4) }}
MLSYSTEM_REPO_ROOT={{ mlsystem_gpu_repo_root }}
MLSYSTEM_DATA_ROOT={{ mlsystem_gpu_data_root }}
MLSYSTEM_BUCKET={{ mlsystem_gpu_bucket }}
MLFLOW_BUCKET={{ mlsystem_gpu_mlflow_bucket }}
MLFLOW_PORT={{ mlsystem_gpu_mlflow_port }}
MINIO_API_PORT={{ mlsystem_gpu_minio_api_port }}
MINIO_CONSOLE_PORT={{ mlsystem_gpu_minio_console_port }}
MINIO_CONSOLE_LISTEN_HOST={{ mlsystem_gpu_minio_console_listen_host }}
MLFLOW_LISTEN_HOST={{ mlsystem_gpu_mlflow_listen_host }}
TRITON_HTTP_PORT={{ mlsystem_gpu_triton_http_port }}
TRITON_GRPC_PORT={{ mlsystem_gpu_triton_grpc_port }}
TRITON_METRICS_PORT={{ mlsystem_gpu_triton_metrics_port }}
PROMETHEUS_PORT={{ mlsystem_gpu_prometheus_port }}
PROMETHEUS_LISTEN_HOST={{ mlsystem_gpu_prometheus_listen_host }}
GRAFANA_PORT={{ mlsystem_gpu_grafana_port }}
GRAFANA_LISTEN_HOST={{ mlsystem_gpu_grafana_listen_host }}
NODE_EXPORTER_PORT={{ mlsystem_gpu_node_exporter_port }}
NODE_EXPORTER_LISTEN_HOST={{ mlsystem_gpu_node_exporter_listen_host }}
CADVISOR_PORT={{ mlsystem_gpu_cadvisor_port }}
CADVISOR_LISTEN_HOST={{ mlsystem_gpu_cadvisor_listen_host }}
DCGM_EXPORTER_PORT={{ mlsystem_gpu_dcgm_exporter_port }}
DCGM_EXPORTER_LISTEN_HOST={{ mlsystem_gpu_dcgm_exporter_listen_host }}
MLSYSTEM_MONITOR_EXPORTER_PORT={{ mlsystem_gpu_monitor_exporter_port }}
MLSYSTEM_MONITOR_EXPORTER_LISTEN_HOST={{ mlsystem_gpu_monitor_exporter_listen_host }}
GF_SECURITY_SECRET_KEY={{ mlsystem_gpu_grafana_secret_key_resolved }}
MLSYSTEM_API_TOKEN={{ mlsystem_gpu_api_token_resolved }}
MLSYSTEM_COMMIT={{ mlsystem_git_commit | default('unknown') }}
MLSYSTEM_API_URL=http://mlsystem-api:8088
MLSYSTEM_API_JOB_ROOT=/data/mlsystem/api/jobs
MLSYSTEM_API_WORKER_MODULE=src.api.stage_job_worker
MLSYSTEM_RUN_ROOT=/data/mlsystem/runs
MLSYSTEM_API_HTTP_RETRIES={{ mlsystem_gpu_api_http_retries }}
MLSYSTEM_API_HTTP_RETRY_DELAY_SEC={{ mlsystem_gpu_api_http_retry_delay_sec }}
MLSYSTEM_API_HTTP_TIMEOUT_SEC={{ mlsystem_gpu_api_http_timeout_sec }}
MLSYSTEM_API_PORT={{ mlsystem_gpu_api_port }}
MLSYSTEM_PLATFORM_ROOT={{ mlsystem_gpu_platform_root }}
MLSYSTEM_FRONTEND_PORT={{ mlsystem_gpu_frontend_port }}
MLSYSTEM_FRONTEND_PUBLIC_BASE_URL={{ mlsystem_gpu_frontend_public_url }}
MLSYSTEM_FRONTEND_COOKIE_SECURE={{ mlsystem_gpu_frontend_cookie_secure }}
MLSYSTEM_FRONTEND_ALLOWED_HOSTS={{ mlsystem_gpu_frontend_allowed_hosts }}
MLSYSTEM_FRONTEND_PROXY_LISTEN_HOST={{ mlsystem_gpu_frontend_proxy_listen_host }}
MLSYSTEM_FRONTEND_PROXY_PORT={{ mlsystem_gpu_frontend_proxy_port }}
MLSYSTEM_FRONTEND_USER={{ mlsystem_gpu_frontend_user_resolved }}
MLSYSTEM_FRONTEND_PASSWORD={{ mlsystem_gpu_frontend_password_resolved }}
MLSYSTEM_FRONTEND_SESSION_SECRET={{ mlsystem_gpu_frontend_session_secret_resolved }}
MLSYSTEM_FRONTEND_SESSION_COOKIE_NAME=mlsystem_session
MLSYSTEM_FRONTEND_SESSION_TTL_SECONDS=28800
MLSYSTEM_FRONTEND_UPLOAD_ROOT=/data/mlsystem/frontend/uploads
MLSYSTEM_FRONTEND_TRAINING_REPORT_ROOT=/data/mlsystem/frontend/training_report
MLSYSTEM_TUNING_ROOT=/data/mlsystem/tuning
MLSYSTEM_MLMARKUP_REPO_PATH=/data/MLMarkup
MLSYSTEM_API_BASE_URL=http://mlsystem-api:8088
MLSYSTEM_FRONTEND_DEFAULT_IMAGES_URI={{ mlsystem_gpu_frontend_default_images_uri }}
MLSYSTEM_FRONTEND_DEFAULT_LAYOUT_URI={{ mlsystem_gpu_frontend_default_layout_uri }}
MLSYSTEM_FRONTEND_DEFAULT_SPLIT_STRATEGY={{ mlsystem_gpu_frontend_default_split_strategy }}
MLSYSTEM_FRONTEND_MAX_UPLOAD_MB={{ mlsystem_gpu_frontend_max_upload_mb }}
MLSYSTEM_FRONTEND_S3_PREFIX=frontend-checks
FRONTEND_MLFLOW_UI_URL=/mlflow/
FRONTEND_MINIO_UI_URL=/minio/browser/{{ mlsystem_gpu_bucket }}/images/
FRONTEND_RABBITMQ_MANAGEMENT_URL=/rabbitmq/
FRONTEND_GRAFANA_URL=/grafana/
FRONTEND_PROMETHEUS_URL=/prometheus/
FRONTEND_JUPYTER_URL=/jupyter/
FRONTEND_GRAFANA_MAIN_DASHBOARD_URL=/grafana/d/mlsystem-overview/mlsystem-overview?orgId=1&kiosk
_PIP_ADDITIONAL_REQUIREMENTS=
MLFLOW_TRACKING_URI=http://mlflow:5000
MLFLOW_S3_ENDPOINT_URL=http://minio:9000
AWS_ACCESS_KEY_ID={{ mlsystem_gpu_minio_root_user_resolved }}
AWS_SECRET_ACCESS_KEY={{ mlsystem_gpu_minio_root_password_resolved }}
AWS_DEFAULT_REGION=us-east-1
AWS_S3_ADDRESSING_STYLE=path
AWS_S3_FORCE_PATH_STYLE=true
INFERENCE_ENGINE_LOCAL_S3_ROOT=/data/mlsystem/cache/s3:/data/mlsystem/minio
INFERENCE_ENGINE_HOTPATH_MODE={{ mlsystem_gpu_inference_engine_hotpath_mode | default('fused_memory') }}
INFERENCE_ENGINE_TRITON_TRANSPORT=http
INFERENCE_ENGINE_TRITON_GRPC_URL=triton:8001
INFERENCE_ENGINE_TRITON_SHARED_MEMORY=off
INFERENCE_ENGINE_FUSED_MAX_IN_MEMORY_TILES={{ mlsystem_gpu_inference_engine_fused_max_in_memory_tiles | default(8) }}
INFERENCE_ENGINE_FUSED_MAX_IN_MEMORY_BYTES=17179869184
INFERENCE_ENGINE_FUSED_READ_WORKERS=16
INFERENCE_ENGINE_FUSED_BATCH_WORKERS=1
INFERENCE_ENGINE_NORMALIZE_MAX_SAMPLES={{ mlsystem_gpu_inference_engine_normalize_max_samples | default(65536) }}
MLSYSTEM_TRITON_URL=http://triton:8000
